* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F4F8FF;
    font-family: karla;
}
.nav{
    width: 100vw;
    height: fit-content;
    z-index: 100;
    background-color: rgb(247, 247, 247);
    position: fixed;
    padding: 0%;
    box-shadow: 2px 2px 10px 3px rgba(103, 102, 102, 0.53);
}
.wrap{
    width:100%;
    z-index: 110;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    justify-content:space-between;
    
}
.navLogo{
    padding: 0px 40% 0px 1vw;
    margin: 0px ;
    z-index: 120;
    background-color: rgb(255, 255, 255);
    
}
.navLogo img {
    height: 80px;
    width: auto;
    background-blend-mode:multiply;
    background-color: rgb(255, 255, 255);
    
    }
    
    
    .navList {
        display: flex;
        gap: 2vw;
        background-color: rgb(255, 255, 255);
        box-sizing: border-box;
    }
    
    .navList h4 {
        font-weight: 300;
        font-size: larger;
        background: transparent;
        color: rgb(0, 0, 0);
        transition: all ease-in 0.1s linear;
    }
    
    .navList h4:hover {
    
        color: #ffc034;
        cursor: pointer;
}
.ban img {
    background-repeat: no-repeat;
    height: 600px;
    width: 100vw;
    border: 2px solid gray;
}

.sec1 {
    margin: 50px;
    padding: 20px 20px 20px 100px;


}

.sec1 h1 {
    font-weight: 400;
    margin-bottom: 10px;
}

.sec1 p {
    font-weight: 200;
    font-size: larger;
    margin-bottom: 10px;


}

.cardcontainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    z-index: 50;
    /* background-color: white; */


}

.tempcon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
    margin-left: 40px;
    margin-top: 20px;
    background-color: transparent;


}

.tempcon img {
    /* padding-right: 20px; */
    background-color: transparent;
}

.card {
    height: 325px;
    width: 300px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.158);
    transition: all ease 0.2s;
}

.card img {
    display: inline-block;
    height: 70px;
    background-color: transparent;
    width: auto;
}

.card h1 {
    background-color: transparent;
}

.card ul {

    margin: 40px;
    background-color: transparent;
}

.card li {

    margin: 20px;
    background-color: transparent;
}

.card:hover {

    background-color: #ffc034;
    color: white;
    /* margin: 10px 0 0 0; */
    transform:scaleY(1.05) scaleX(1.05);
    transition: all ease  0.2s;

}


/* part2 with 4 cards */

.sect2 {

    width: 100vw;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imgcard {
    height: 340px;
    width: 295px;
    border-radius: 20px 20px 40px 20px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  
}
.imgcard img{
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 40px 20px;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 80;
}
.textAboveImg{
    position: absolute;
    background-color: transparent;
    padding: 20px 10px 10px 10px;
    margin: 20px;
    color: white;
    z-index: 99;
}
.cardOverlay {
    height: 340px;
    width: 295px;
    border-radius: 5px;
    border-radius: 20px 20px 40px 20px;
    position: absolute;
    /* z-index: 90; */
}

/* .cardOverlay1{  
    background: linear-gradient(to bottom , rgba(141, 140, 136, 0.37) , rgba(255, 255, 255, 0.5));
}
.cardOverlay2{ 
    background: linear-gradient(to bottom , rgba(255, 0, 0, 0.486) , rgba(255, 255, 255, 0.5));
}
.cardOverlay3{ 
    background: linear-gradient(to bottom , rgba(0, 255, 55, 0.486) , rgba(255, 255, 255, 0.5));
}
.cardOverlay4{ 
    background: linear-gradient(to bottom , rgba(1, 26, 250, 0.486) , rgba(255, 255, 255, 0.5));
} */
.textAboveImg h1{
    background-color: transparent;
    padding : 20px 0px 20px 0px;
    font-size: 25px;

}
.textAboveImg p{
    background-color: transparent;
    padding-top: 20px;

}
.gridContainer {
    display: grid;
    row-gap: 30px;
    column-gap: 40px;
    grid-template-columns: repeat(2, 0fr);
    margin-right: 40px;
    z-index: 10;
    background-color: transparent;
}

.sec2Text {
    width: 30%;
    z-index: 10;
    background-color: transparent;
    color: #F4F8FF;
}

.sec2Text h1 {
    font-size: 40px;
    font-weight: 850;
    padding: 30px;
    background-color: transparent;
}

.sec2Text p {
    font-size: 20px;
    font-weight: 450;
    padding: 30px;
    background-color: transparent;
}

.wrap {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.sec2Container {
    background: linear-gradient(to right, #292c4a, #4E4E62);
    width: 100vw;
    height: 550px;
    position: absolute;
    margin-top: 70px;
    /* z-index:-1; */
}


/* sec3 css start */
.helper {

    padding: 50px 100px 50px 100px;
    height: 200px;
    width: 100%
}

.sec3container {
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sec3image {
    position: absolute;
    height: 200px;
    width: 100%;
}

.sec3image img {
    height: 200px;
    width: 100%;
}

.imgcard:hover img {
   transform:scaleY(1.05) scaleX(1.05);
   transition: all ease  0.5s;
   overflow: hidden;
}

.sec3text {
    background-color: transparent;
}


.sec3textwrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    background-color: transparent;
    padding: 50px;
    color: azure;

}

.sec3textwrap p {
    background-color: transparent;
    font-size: 30px;
}

.sec3textwrap h4 {
    background-color: transparent;
    font-size: 50px;
}

.sec4{

    background-color: #071434;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 120px;
    padding-top: 40px;
    color: #F4F8FF;
}
.sec4First{
    width: 100%;
    padding: 40px 0px 10px 0px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
    background-color: transparent;
   
}

.sec4LogoAndSocialMedia{

    background-color:transparent;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
@media (max-width : 780px) {
    
    .sec4First{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-bottom: 10px;
    }
    .sec4Second{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin: 0;
    }

    .sec4footerpart1 h3{
        margin-bottom: 10px;

    }
    .sec4footerpart2{
        margin: 0px;

    }
    .sec4Second{
        padding:10px !important;
    }
    .sec4QuickLinks , .sec4LogoAndSocialMedia , .sec4Img{
        margin-bottom: 20px;
    }
    .sec4{
        justify-content: center;
        align-items: center;
        width: 100vw;
    }.nav{
        justify-content: center;
        align-items: center;
    }
    .wrap{
        flex-direction: column;
        justify-content: center;
        align-items:end;
        width: 100vw;
    }
    .navList{
        flex-direction: column;
    }
    .nav{
        width: 100vw;
    }

    .navLogo{
        padding: 10px 0px 10px 0px;
    }
    .cardcontainer{
        flex-direction: column;
        
    }
    .card{
        margin-bottom: 20px;
    }
    .gridContainer{
        grid-template-columns: repeat(1, 0fr);
    }
}
.sec4Img img{
    width: 250px;
    padding: 50px 50px 10px 50px;
    padding-top: 0px;
    height: auto;
    background-color: transparent;
}
.sec4Img{
    background-color: transparent;
}

.sec4slogo img{
    background-color: transparent;
    margin: 10px;
}
.sec4slogo , .sec4QuickLinks , .sec4Contactus {
    background-color: transparent;
}

.sec4Contactus ul{
    background-color: transparent;
    list-style-type: none;
}

.sec4footerpart1{
    background-color: #071434;
}
.sec4Contactus li{
    background-color: transparent;
}
.sec4Contactus h4{
    background-color: transparent;
}

.sec4QuickLinks ul{
    background-color: transparent;
    list-style-type: none;
}

.sec4QuickLinks li{
    font-size: medium;
    background-color: transparent;
}
.sec4QuickLinks h4{
    background-color: transparent;
}

 .sec4Contactus{

    line-height: 30px;
}
.sec4QuickLinks {
    line-height: 30px;
}

 .sec4Contactus h2{ 

    margin-bottom: 10px;
    background-color: transparent;
}

.sec4QuickLinks h2{ 

    margin-bottom: 10px;
    background-color: transparent;
}




.sec4Second
{
    background-color: #071434;
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
.line{
    width: 80vw;
}
.sec4footerpart1 h3{
    background-color: #071434;
    font-size: medium;
    line-height:35px;
}

.sec4footerpart2 h3{
    background-color: #071434;
    font-size: medium;
    line-height:35px;
}