/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* background-color: #F4F8FF; */
    background: #fff;
    font-family: karla;
}
.nav{
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 100;
    background-color: rgb(247, 247, 247);
    position: fixed;
    padding: 0%;
    -webkit-box-shadow: 2px 2px 10px 3px rgba(103, 102, 102, 0.53);
            box-shadow: 2px 2px 10px 3px rgba(103, 102, 102, 0.53);
    
}
.wrap{
    width:100%;
    z-index: 110;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    
}
.navLogo{
    padding: 0px 40% 0px 1vw;
    margin: 0px ;
    z-index: 120;
    background-color: rgb(255, 255, 255);
    
}
.navLogo img {
    height: 80px;
    width: auto;
    background-blend-mode:multiply;
    background-color: rgb(255, 255, 255);
    
    }
    
    
    .navList {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 2vw;
        background-color: rgb(255, 255, 255);
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    
    .navList h4 {
        font-weight: 300;
        font-size: larger;
        background: transparent;
        color: rgb(0, 0, 0);
        -webkit-transition: all ease-in 0.1s linear;
        -o-transition: all ease-in 0.1s linear;
        transition: all ease-in 0.1s linear;
    }
    
    .navList h4:hover {
    
        color: #ffc034;
        cursor: pointer;
}

.helper{
    height: 120px;
}

/* .bannerContainer{
    height: 25vw;
    padding: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}


.con1 {
    height: 200px;
    width: 50%;
    padding: 20px;
    margin: 3%;
    border-radius: 10% 10% 30% 10%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.con2{
    height: 100%;
    width: 50%;
    border-radius: 10% 10% 30% 10%;
    border: 2px solid black;
    position: relative;
}

.sec1{
    height: 50%;
    width: auto;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: -10%;
}
.sewc1 img{
    border-radius: 20px;

} */




.responsibilityContainer
{
    width: 100%;
    height: 30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: justify;
    margin-bottom: 40px;
}
.sec2text{
    width: 50%;
    padding: 5%;
}

.sec2text p{
margin-top: 5%;
margin-bottom: 5%;
}

.sec2img{
    width: 40%;
    height: 80%;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    background:transparent;
}
.sec2img img{
    width: 100%;
    height: 100%;
    background-blend-mode: difference;
}



.policySection{
    width: 100%;
    height: auto;
    padding: 5%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}

.policycontainer{
    width: 70%;
}

.policycontainer p {

    margin-top: 2%;
    font-size: larger;
}






.sec3Container{

    width: 100%;
    height: auto;
    padding: 5%;
    background: url("https://www.salvichem.com/assets/images/policy-in-place.webp");
    color: white;
    overflow: hidden;
}


.item{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;  
    width: 25vw;
    background: transparent;
    /* overflow: hidden; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.itemImg{
    height: 70px;
    width: 70px;
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
    background: transparent;
}
.itemImg img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
li{
    width: 20vw;
}
.itemText{
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    background: transparent;
    /* font-size: small; */
    margin-top: 40px;
    white-space: wrap;
    text-align: center;
}
.itemContainer{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

h3{
    background: transparent;
    margin-bottom: 20px;
}
p{
    background: transparent;
}

@media (max-width : 680px) {

    .responsibilityContainer
{
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   margin-bottom: 200px;
   margin-top: 200px;
}
    .sec2text{
        width: 80%;
    }
    .itemContainer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .item{
        width: 90%;
        margin-top: 40px;

    }
}




/* css for footer     */





.sec4{

    background-color: #071434;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 120px;
    padding-top: 40px;
    color: #F4F8FF;
    overflow: hidden;
}
.sec4First{
    width: 100%;
    padding: 40px 0px 10px 0px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    background-color: transparent;
   
}

.sec4LogoAndSocialMedia{

    background-color:transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (max-width : 780px) {
    
    .sec4First{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 90%;
        margin-bottom: 10px;
    }
    .sec4Second{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100vw;
        margin: 0;
    }

    .sec4footerpart1 h3{
        margin-bottom: 10px;

    }
    .sec4footerpart2{
        margin: 0px;

    }
    .sec4Second{
        padding:10px !important;
    }
    .sec4QuickLinks , .sec4LogoAndSocialMedia , .sec4Img{
        margin-bottom: 20px;
    }
    .sec4{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100vw;
    }.nav{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .wrap{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align:end;
            -ms-flex-align:end;
                align-items:end;
        width: 100vw;
    }
    .navList{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .nav{
        width: 100vw;
    }

    .navLogo{
        padding: 10px 0px 10px 0px;
    }
    .cardcontainer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
    }
    .card{
        margin-bottom: 20px;
    }
    .gridContainer{

        grid-template-columns: repeat(1, 0fr);
    }
    .helper{
        height: 240px;
    }
}
.sec4Img img{
    width: 250px;
    padding: 50px 50px 10px 50px;
    padding-top: 0px;
    height: auto;
    background-color: transparent;
}
.sec4Img{
    background-color: transparent;
}

.sec4slogo img{
    background-color: transparent;
    margin: 10px;
}
.sec4slogo , .sec4QuickLinks , .sec4Contactus {
    background-color: transparent;
}

.sec4Contactus ul{
    background-color: transparent;
    list-style-type: none;
}

.sec4footerpart1{
    background-color: #071434;
}
.sec4Contactus li{
    background-color: transparent;
}
.sec4Contactus h4{
    background-color: transparent;
}

.sec4QuickLinks ul{
    background-color: transparent;
    list-style-type: none;
}

.sec4QuickLinks li{
    font-size: medium;
    background-color: transparent;
}
.sec4QuickLinks h4{
    background-color: transparent;
}

 .sec4Contactus{

    line-height: 30px;
}
.sec4QuickLinks {
    line-height: 30px;
}

 .sec4Contactus h2{ 

    margin-bottom: 10px;
    background-color: transparent;
}

.sec4QuickLinks h2{ 

    margin-bottom: 10px;
    background-color: transparent;
}




.sec4Second
{
    background-color: #071434;
    padding: 30px 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
}
.line{
    width: 80vw;
}
.sec4footerpart1 h3{
    background-color: #071434;
    font-size: medium;
    line-height:35px;
}

.sec4footerpart2 h3{
    background-color: #071434;
    background: transparent;
    font-size: medium;
    line-height:35px;
}
.sec4footerpart2{
    background: transparent;
}

/* css by JEnil     */

.sec5{
    margin-top: 5%;
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sec5list{
    width: 100%;
    height: auto;
padding: 3% 10% 0% 10%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.sec5list ul li{
    width: 100%;
}

.sec5list li{
    padding: 2%;
}